@use "../utils/MediaQueary.module" as *;

.footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-right: 0;
  padding-left: 15rem;
  padding-bottom: 20px;
  background-blend-mode: multiply;
  background-image: url("../../../public/assets/woodBgHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 246, 223, 0.944);
  color: #2e2e2e;
  @media #{$mobile} {
    height: 110%;
    padding-left: 2rem;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  @media #{$tablet} {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  .robot {
    @media #{$mobile} {
      display: none;
    }
    @media #{$tablet} {
      display: none;
    }
    width: 30%;
    transform: scale(0.6);
  }

  .swatch {
    display: none;
    text-align: center;
    position: relative;
    @media #{$mobile} {
      display: flex;
    }
    @media #{$tablet} {
      display: flex;
    }
  }
  .swatch div {
    width: 50px;
    height: 195px;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-left: solid 3px rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    transform-origin: center 90%;
    display: inline-block;
    backface-visibility: hidden;
    transform: rotate(0deg);
    @media #{$tablet} {
      width: 40px;
      height: 130px;
    }
  }
  .swatch div:before {
    width: 16px;
    height: 16px;
    content: "";
    background-color: #ffffff;
    display: inline-block;
    border-radius: 8px;
    bottom: 10px;
    position: absolute;
  }
  .swatch div:nth-child(1) {
    background-color: #b58b5b;
    animation: swatch-purple-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  .swatch div:nth-child(2) {
    background-color: #cda678;
    animation: swatch-blue-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  .swatch div:nth-child(3) {
    background-color: #a0764b;
    animation: swatch-green-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  .swatch div:nth-child(4) {
    background-color: #c8a67a;
    animation: swatch-yellow-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  .swatch div:nth-child(5) {
    background-color: #b2936c;
    animation: swatch-orange-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  .swatch div:nth-child(6) {
    background-color: #9b815f;
    animation: swatch-red-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  @keyframes swatch-purple-motion {
    0% {
      transform: rotate(0deg);
    }
    30%,
    70% {
      transform: rotate(-65deg);
    }
    90%,
    10% {
      transform: rotate(0deg);
    }
  }
  @keyframes swatch-blue-motion {
    0% {
      transform: rotate(0deg);
    }
    30%,
    70% {
      transform: rotate(-40deg);
    }
    90%,
    10% {
      transform: rotate(0deg);
    }
  }
  @keyframes swatch-green-motion {
    0% {
      transform: rotate(0deg);
    }
    30%,
    70% {
      transform: rotate(-15deg);
    }
    90%,
    10% {
      transform: rotate(0deg);
    }
  }
  @keyframes swatch-yellow-motion {
    0% {
      transform: rotate(0deg);
    }
    30%,
    70% {
      transform: rotate(15deg);
    }
    90%,
    10% {
      transform: rotate(0deg);
    }
  }
  @keyframes swatch-orange-motion {
    0% {
      transform: rotate(0deg);
    }
    30%,
    70% {
      transform: rotate(40deg);
    }
    90%,
    10% {
      transform: rotate(0deg);
    }
  }
  @keyframes swatch-red-motion {
    0% {
      transform: rotate(0deg);
    }
    30%,
    70% {
      transform: rotate(65deg);
    }
    90%,
    10% {
      transform: rotate(0deg);
    }
  }

  .description {
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$mobile} {
      width: 100%;
      flex-direction: column;
      margin-top: 240px;
      align-items: flex-start;
      padding-right: 2rem;
      row-gap: 20px;
    }
    @media #{$tablet} {
      width: 83%;
    }

    .about {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      row-gap: 20px;

      h1 {
        font-size: 30px;
        font-weight: 800;
      }
      p {
        font-weight: 500;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;

        .link {
          transition: all 0.3s ease-in-out;
        }
        .link:hover {
          transform: scale(1.2);
        }
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      row-gap: 20px;

      h1 {
        font-size: 30px;
      }
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        li {
          display: flex;
          justify-content: start;
          align-items: center;
          column-gap: 10px;

          .link {
            text-decoration: none;
            color: #2e2e2e;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in-out;
          }
          .link:hover {
            color: #83714a;
          }
        }
      }
    }
    .usedfulLinks {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      row-gap: 20px;
      h1 {
        font-size: 30px;
        font-weight: 800;
      }
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        li {
          display: flex;
          justify-content: start;
          align-items: center;
          column-gap: 10px;

          .link {
            text-decoration: none;
            color: #2e2e2e;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in-out;
          }
          .link:hover {
            color: #83714a;
          }
        }
      }
    }
  }
}

.developer {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 8rem;
  padding-left: 15rem;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #262626;
  @media #{$mobile} {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h1 {
    font-size: 15px;
    color: #fff;
    @media #{$mobile} {
      font-size: 13px;
    }
    .link {
      text-decoration: none;
      color: #f5cf6e;
    }
  }
}
