@use '../utils/MediaQueary.module' as *;

.header {
  width: 100%;
  background: #26231c;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @media #{$mobile} {
    display: none;
  }
  h1{
    font-size: 18px;
    color: #fff;
    font-weight: 200;
  }

  .information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 23px;

    span{
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 8px;

      h3{
        color: #fff;
        font-size: 15px;
        font-weight:200;
      }
      .link{
        color: #fff;
        font-size: 15px;
        font-weight:200;
        text-decoration: none;
      }
    }
  }
}